.live-logs-page {
    width: 100%;
    padding: 3em !important;
}

.live-logs-control-panel {
    margin-bottom: 1.5em;
}

.live-logs-control-panel-button {
    margin-right: .5em;
}

.live-logs-control-panel-icon {
    height: 1em;
    margin: .25em 0;
}

.live-logs-status {
    display: inline-block;
    margin-left: .75em;
    min-width: 10em;
    text-align: left;
}

.live-logs-log-section {
    width: 100%;
}

.live-logs-table {
    table-layout: fixed;
}

.live-log-entry.closed > .live-log-entry-field {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.live-log-entry.open > .live-log-entry-field {
    white-space: normal;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.live-log-entry-toggle-icon {
    height: 1em;
    margin: .25em 0;
}

.live-log-entry.open .live-log-entry-toggle-icon {
    transform: rotate(90deg);
    transform-origin: center center;
}

.live-log-entry-field-toggle {
    width: 3%;
    cursor: pointer;
    overflow: hidden !important;
    text-overflow: clip !important;
}

.live-log-entry-field.timestamp {
    width: 17%;
}

.live-log-entry-field.ingress-port {
    width: 5%;
}

.live-log-entry-field.ip-address {
    width: 12%;
}

.live-log-entry-field.location {
    width: 18%;
}

.live-log-entry-field.input {
    width: 45%;
    text-align: left;
}

@media (max-width: 900px) {
    .live-logs-page {
        padding: 3em 2em !important;
    }

    .live-log-entry-field.timestamp {
        display: none;
    }

    .live-log-entry-field.ingress-port {
        width: 8%;
    }

    .live-log-entry-field.ip-address {
        width: 15%;
    }
}

@media (max-width: 800px) {
    .live-log-entry-field.ip-address {
        display: none;
    }

    .live-log-entry-field.location {
        width: 24%;
    }
}

@media (max-width: 700px) {
    .live-logs-page {
        padding: 2em 1em !important;
    }

    .live-log-entry-field-toggle {
        width: 5%;
    }

    .live-log-entry-field.ingress-port {
        width: 15%;
    }

    .live-log-entry-field.location {
        width: 35%;
    }

    .live-log-entry-field.input {
        width: 45%;
    }
}

@media (max-width: 550px) {
    .live-log-entry-field-toggle {
        width: 10%;
    }
}
